html {inline-size: 124cm;}

body {background-color: #8C6E54; font-family:; margin-left: 5cm; margin-right: 5cm;}

h1 {width: 70%; ;color:#D9CCC5 ; background-color: #402B1F ;}

p {font-family: Arial, Helvetica, sans-serif; color: #D9CCC5; font-size: ;}

a {color: #000000;}

h2{color: #D9CCC5; font-family: ; inline-size:}

