body {text-align: center;}

.nha{background-color: #5F736F; }

.tet {background-color: ;background-color: #5b6b68 ; border-radius: 7%;color: #F2EDE4;}

p {color: cornsilk; font-size: larger;}

.teste {color: #F1E2C3;}

.tot {color: #F2EDE4;}

p.aa{background: #2d3a37; border-radius: 6%;}

.h11 {color: #F2EDE4;}

h1 {color: #95BFB8;}