h1 {color: rebeccapurple; font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{color: seagreen; font-size: larger;}

body {margin-top: 2cm; }
input{background-color: aquamarine; border-radius: 15%;}
