h1 {background-color: rgb(52, 52, 143); color: aliceblue; text-shadow: 1px 1px 4px;}

h2{background-color: rgb(139, 153, 216);color: rgb(24, 24, 92);text-align: center;}

ol {color: rgb(24, 24, 92); font}

p {color: rgb(24, 24, 92);}

p{text-align: justify;}