body{background: silver;}

.a {background-color: #3D431B ;}

.b{background-color: #FFD196;}

.c{background-color: #593B2A;}

.d{background-color: #A68776;}

.e{background-color: #D9C8BF;}

.f{background-color: #73523F;}

.g{background-color: #A6785D;}

.h{background-color: #D9A384;}

.i{background-color: #402921;}

.j{background-color: #262626;}